@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
.container {

}

body {
    background-image:url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Poiret One', cursive;
    color:white;
    font-size: 100px;
}

.cover-heading {
    
}

.cover {
    position:relative;
    text-align: center;
    margin-top: 10%
}

.allbtns {
}

h2 {
    font-family: 'Poiret One', cursive;
    color:white;
}

a {
    color:white;
    text-decoration: none;
}

.mastfoot {
    position:fixed;
    text-align: center;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    color:white;
    font-family: 'Poiret One', cursive;
}

#login{
	width: 270px;
    margin: auto;
	z-index: 2;
    display: none;
}

#login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

#login input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

#login input[type=submit]:hover{
    color: white;
    background-color: lightgreen;
}

#login input[type=submit]:active{
	color: lightgreen;
    background-color: white;
}

#login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

#login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

#login input[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
