h1 {
    font-family: 'Poiret One', cursive;
}

#nav {
    display: table;
    table-layout: fixed;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.8;
    border-bottom-style: solid;
    border-color: rgba(100, 100, 100, 0.15);
    border-width: thin;
    padding-top: 15px;
    padding-bottom: 15px;
}

#nav div {
    display: table-cell;
}

.posts {
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    width: 40%;
    text-align: center;
    background-color: white;
}

body {
    background-color: #f5fff5;
}

p {
    font-family: Verdana, Geneva, sans-serif;
}

.thepost {
    border-style: solid;
    border-width: thin;
    margin: 10px;
    padding: 10px;
    border-color: rgba(100, 100, 100, 0.15);
}
#btnLogout {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, sans-serif;
}
#btnLogout:hover {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.46);
}

#navLogo {
    display: inline;
    text-align: left;
}

a {
    text-decoration: none;
    font-family: inherit;
}

#navLeft {
    text-align: right;
}

#navCenter {
    display: inline;
    text-align: center;
}

#navRight {
    text-align: left;
}

#btnProfile {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, sans-serif;
}

#btnProfile:hover {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.46);
}

#expand {
    text-align: right;
    font-family: Verdana, Geneva, sans-serif;
}
#btnNewsFeed {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, sans-serif;
}

#btnNewsFeed:hover {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.46);
}

#profileHeader_1 {
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    width: 40%;
    height: 200px;
    text-align: center;
    background-color: white;
}

#profilePic {
    position: relative;
    text-align: left;
    height: 200px;
    width: 200px;
    display: inline-block;
    z-index: 2;
    float: left;
    border: 2px;
    border-style: solid;
    border-color: rgb(150, 150, 150);
}

#profileName {
    display: relative;
    z-index: 2;
    text-align: center;
    width: auto;
}
#profileUserName {
    display: relative;
    z-index: 3;
    text-align: right;
    width: auto;
}

