
.profile {
    height: 300px;
    margin-right: 30px;
    text-align: center;
}
.profilepic{
    background-image: url(../img/profile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
}

.moveright {
    margin-left: 20px;
}
