body{
    background-image: url('/public/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title {
    color: white;
}

.main {
    margin-top: 70px;
}
